<div class="col text-right mb-3">
  <button routerLink="/products" type="button" class="btn btn-danger">
    Cerrar
  </button>
</div>

<hr>

<div>
  <form [formGroup]="productForm" (ngSubmit)='save( )' class='container mt-4'>

    <div class="form-row">
      <div class="col-md-9"></div>
      <div class="form-group col-md-3">
        <label for='id'>ID</label>
        <input formControlName="id" name='id' type="text" class="form-control" placeholder="ID">
      </div>
    </div>

    <div class="form-row mt-3">

      <div class="form-row col-md-12">
        <div class="form-group col-6">
          <label for='name'>Producto</label>
          <input formControlName="name" name='name' type="text" class="form-control"
            placeholder="Nombre de Producto">
          <span *ngIf="productForm.invalid" class='invalid'>Debe ingresar un nombre de producto</span>
        </div>

        <div class="col-1"></div>

        <div class="form-group col-5">
          <label for='imageFile'>Imagen</label>
          <input name='imageFile' class="col" type="file" accept=".jpg, .png" (change)="leerArchivo($event)">
          <span *ngIf="productForm.invalid" class='invalid'>{{ errorArchivo }} </span>
        </div>

      </div>

      <div class="row no-gutters">

        <div class="form-group col-12">
          <label for='details'>Detalles</label>
          <textarea formControlName="details" name='details' class="form-control" placeholder="Detalles" rows="5">
            </textarea>
          <span *ngIf="productForm.invalid" class='invalid'>Debe ingresar una descripción del producto
          </span>
        </div>

        <div class="form-group col-md-6">
          <label for='origen'>Pais de origen</label>
          <select formControlName="country" name='origen' class="form-control">
            <option  selected>Pais de origen</option>
            <option *ngFor="let item of countriesList">{{ item }}</option>
          </select>
          <span *ngIf="productForm.invalid" class='invalid'>Debe seleccionar un pais de procedencia.</span>
        </div>

      </div>

      <div class="col-md-3 mx-auto">
        <label for="">Imagen del producto</label>
        <!-- <img style="border: 1px solid black;" [src]='producto.imagen.url' class="card-img" [alt]='producto.imagen.url'> -->
      </div>
    </div>

    <div class="form-row mt-3">

      <div class="form-group col-md-3 mx-auto">
        <label for='precio'>Precio</label>
        <input formControlName="price" name='precio' type="number" class="form-control text-right" placeholder="Precio">
        <span *ngIf="productForm.invalid" class='invalid'>El precio mínimo es: </span>
      </div>

    </div>

    <div class="form-row form-group">

      <div class="col-md-3 mx-auto">
        <label for='existencia'>Existencia</label>
        <input formControlName="stock" name='existencia' type="number" class="form-control text-right"
          placeholder="Existencia">
        <span *ngIf="productForm.invalid" class='invalid'>Debe ingresar cantidad valida</span>
      </div>
    </div>

    <div class="form-row form-group">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary w-100 m-2">Guardar</button>
      </div>
    </div>

  </form>
</div>