<div class="container">

  <div class="image-product">
    <div class="label-image">
      <span>Imagen del producto</span>
    </div>
    <div class="image">
      <img *ngIf="!imgProductTemp.length && imgProduct?.length" [src]='imgProduct' class="card-img" [alt]=''>
      <img *ngIf="imgProductTemp" [src]='imgProductTemp' class="card-img" [alt]='productForm.get("name")?.value'>
    </div>
    <div class="btn-select-image">
      <label for="selectImage">Seleccionar imagen</label>
      <input type="file" id="selectImage" name="selectImage" accept=".jpg, .jpeg, .png" (change)="readFile($event)">
      <span *ngIf="productForm.get('file')?.touched && productForm.get('file')?.invalid" class='invalid'>{{
        errorArchivo }} </span>
    </div>
  </div>

  <div class="form-product" [formGroup]="productForm">

    <div class="form-group-row">

      <div class="form-item">
        <label for='name'>Producto</label>
        <div>
          <input formControlName="name" name='name' type="text" class="" placeholder="Nombre de Producto">
        </div>
        <span *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid" class='invalid'>Debe
          ingresar un nombre de producto</span>
      </div>
      <div class="form-item">
        <label for='precio'>Precio</label>
        <div>
          <input formControlName="price" name='price' type="number" class="" placeholder="Precio">
        </div>
        <span *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid" class='invalid'>El precio
          mínimo es: </span>
      </div>
    </div>

    <div class="form-group-row">

      <div class="form-item">
        <label for='origen'>Pais de origen</label>
        <div class="p-4">
          <select formControlName="country" name='country'>
            <option selected>Pais de origen</option>
            <option *ngFor="let item of countriesList">{{ item }}</option>
          </select>
        </div>
        <span *ngIf="productForm.get('country')?.touched && productForm.get('country')?.invalid" class='invalid'>Debe
          seleccionar un pais de procedencia.</span>
      </div>
      <div class="form-item">
        <label for='existencia'>Existencia</label>
        <div>
          <input formControlName="stock" name='stock' type="number" class="" placeholder="Existencia">
        </div>
        <span *ngIf="productForm.get('stock')?.touched && productForm.get('stock')?.invalid" class='invalid'>Debe
          ingresar cantidad valida</span>
      </div>
    </div>

    <div class="form-item">
      <label for="description">Descripción</label>
      <div>
        <textarea name="description" id="description" cols="28" rows="8"
          placeholder="Descripción del producto"></textarea>
      </div>
    </div>


    <div class="area-buttons">
      <input *ngIf="idProduct != 'new'" type="button" class="btn btn-remove" value="Retirar producto">
      <input *ngIf="idProduct == 'new'" type="button" class="btn btn-save" value="Ingresar producto">
      <input *ngIf="idProduct != 'new'" type="button" class="btn btn-update" value="Actualizar producto">
      <input type="button" class="btn btn-cancel" value="Cancelar" routerLink="/products">
    </div>

  </div>

</div>

<cc-modal #modal></cc-modal>