<div *ngIf="showNotification" class="alert-screen">
    <div class="alert-window">
        <div class="alert-title">
            {{ notification.title }}
        </div>
        <div class="alert-body">
            {{ notification.message }}
        </div>
        <div class="alert-footer">
            {{ notification.footer }}
        </div>
        <div class="alert-buttons">
            <input type="button" value="Ok" (click)="showNotification = false">
        </div>
    </div>
</div>

<div *ngIf="showConfirmModal" class="alert-screen">
    <div class="alert-window">
        <div class="alert-title">
            {{ notification.title }}
        </div>
        <div class="alert-body">
            {{ notification.message }}
        </div>
        <div class="alert-footer">
            {{ notification.footer }}
        </div>
        <div class="alert-buttons">
            <input type="button" value="Ok" (click)="confirmResponse(true)">
            <input type="button" value="Not" (click)="confirmResponse(false)">
        </div>
    </div>
</div>