<div class="sidebar">
    <div class="sidebar_profile">
        <img src="" alt="">
        <h2>Nombre del propietario</h2>
    </div>
    <div class="sidebar_filter">
        <div class="field">
            <label for="productName">Producto</label>
            <input type="text" name="" id="productName">
        </div>
        <div class="field">
            <label for="productPrice">Precio</label>
            <input type="text" name="" id="productPrice">
        </div>
        <div class="buttons">
            <button id="search">Buscar...</button>
        </div>
    </div>
</div>