<nav>
    <app-navbar [isAuthenticate]="true"></app-navbar>
</nav>
<main class="container">
    <aside class="menu">
        <app-menu [isAuthenticate]="true"></app-menu>
    </aside>
    <section>

        <div *ngIf="!loading" class="profile_container">
            <div class="image-profile">
                <div class="label-image">
                    <span>Imagen del perfil</span>
                </div>
                <div class="image">
                    <img class="" *ngIf="!imgProfileTemp.length" [src]='imgProfile' [alt]='user?.userName'>
                    <img class="" *ngIf="imgProfileTemp" [src]='imgProfileTemp' [alt]='user?.userName'>
                </div>
                <div class="btn-select-image">
                    <label for="selectImage">Seleccionar imagen</label>
                    <input type="file" id="selectImage" name="selectImage" accept=".jpg, .jpeg, .png"
                        (change)="readFile($event)">
                </div>
            </div>
            <div class="form-profile">
                <div class="form-item">
                    <label for="name">Nombre</label>
                    <div>
                        <input type="text" name="name" id="name" placeholder="Nombre" [value]="user?.userName">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-item">
                        <label for="email">Correo electrónico</label>
                        <div>
                            <input type="text" name="email" id="email" placeholder="Correo electrónico">
                        </div>
                    </div>
                    <div class="form-item">
                        <label for="phone">Teléfono de contacto</label>
                        <div>
                            <input type="tel" name="phone" id="phone" placeholder="Telefono de contacto">
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label for="aboutMe">Sobre mí</label>
                    <div>
                        <textarea name="aboutMe" id="aboutMe" cols="30" rows="10" placeholder="Sobre mi"></textarea>
                    </div>
                </div>
                <div class="area-buttons">
                    <input type="button" class="btn btn-save" value="Guardar" (click)="updateProfile()">
                    <input type="button" class="btn btn-cancel" value="Cancelar">
                </div>
            </div>
        </div>
        
        
        <div *ngIf="loading" class="loading">
            <h4 class="title">Cargando...</h4>
            <div class="message">
                <span class="">Esperate un momentico...</span>
            </div>
        </div>
        
        
        <div *ngIf="showNotification" class="alert-screen">
            <div class="alert-window">
                <div class="alert-title">
                    {{ notification?.title }}
                </div>
                <div class="alert-body">
                    {{ notification?.message }}
                </div>
                <div class="alert-footer">
                    {{ notification?.footer }}
                </div>
                <div class="alert-buttons">
                    <input type="button" value="Ok" (click)="showNotification = false">
                </div>
            </div>
        </div>
    
    </section>
</main>


