<app-navbar></app-navbar>


<div class="container">
    <div class="image-profile">
        <div class="label-image">
            <span>Imagen del perfil</span>
        </div>
        <div class="image">
            <img class="" *ngIf="!imgProfileTemp.length" [src]='imgProfile' [alt]='user?.userName'>
            <img class="" *ngIf="imgProfileTemp" [src]='imgProfileTemp' [alt]='user?.userName'>
        </div>
        <div class="btn-select-image">
            <label for="selectImage">Seleccionar imagen</label>
            <input type="file" id="selectImage" name="selectImage" accept=".jpg, .jpeg, .png"
                (change)="readFile($event)">
        </div>
    </div>
    <div class="form-profile">

    </div>
</div>



<!-- <div class="" *ngIf="!loading">
    <div class="">
        <div class="">
            <div class="">
                <img *ngIf="!imgProfileTemp.length" [src]='imgProfile' class="card-img" [alt]='user?.userName'>
                <img *ngIf="imgProfileTemp" [src]='imgProfileTemp' class="card-img" [alt]='user?.userName'>
            </div>
            <div class="">
                <div class="">
                    <h5 class=""> <strong> {{ user?.userName }} </strong> </h5>
                    <p class=""> <strong>Email:</strong> {{ user?.email }} </p>
                    <p class=""><small class=""> <strong>Uid:</strong> {{ user?.uid }}</small></p>
                </div>
            </div>
        </div>
        <div>
            <input type="file" name="imgProfile" id="imgProfile" value="Seleccionar archivo" (change)="readFile($event)">
            <input type="button" value="Actualizar imangen"  (click)="uploadFile()">
        </div>
    </div>
    
</div> -->

<div *ngIf="loading" class="" role="alert">
    <h4 class="">Cargando...</h4>
    <div class="" role="status">
        <span class="">Loading...</span>
    </div>
    <p class="">
        Espere por favor.
    </p>
</div>