<div class="container">
    <div class="left-side"></div>
    <div class="right-side">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-item">
                <label for="field_user">Usuario</label>
                <div>
                    <input class="form-control" formControlName="userName" type="text" name="field_user"
                        aria-describedby="userHelp">
                </div>
                <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched"
                    class="invalid">
                    Por favor escribe un nombre!
                </div>
            </div>

            <div class="form-item">
                <label for="field_user">Email</label>
                <div>
                    <input class="form-control" formControlName="email" type="text" name="field_user"
                        aria-describedby="emailHelp">
                </div>
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid">
                    Por favor escribe un email
                </div>
            </div>

            <div class="form-item">
                <label for="field_password">Contraseña</label>
                <div>
                    <input formControlName="password" type="password" name='field_password' class="form-control">
                </div>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    class="invalid">
                    Por favor escribe una contraseña!
                </div>
            </div>

            <button class="login-button" *ngIf="!isLoading" type="submit">Registrar usuario
            </button>

            <button class="btn btn-primary w-100" [disabled]="true" *ngIf="isLoading" type="button">
                Por favor espere
            </button>

            <div class="haveAccount">
                <div>¿Ya tienes una cuenta?</div>
                <a [routerLink]="['/login']">Login</a>
            </div>
        </form>
    </div>
</div>