<nav class="header">
    <div>
        <img class="store_image" src="../../../../assets/store.png" alt="Store">
    </div>

    
    <div class="buttons">
        <button ngClass="btn btn_login"
            *ngIf="!isAuthenticate"
            (click)='login()' type="button">
            Login
        </button>

        <button class="btn btn_logout"
            *ngIf="isAuthenticate"
             (click)='logout()' type="button">
            Logout
        </button>            
    </div>
</nav>